/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Heart */

.message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
    color: white;
    z-index: 2;
    width: 820px;
}

.heart-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 50%;
}

.heart::before {
    top: -100px;
    left: 0;
}

.heart::after {
    left: 100px;
    top: 0;
}

.heart {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 200px;
    height: 200px;
    background: red;
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0;
    animation: beat 3s infinite;
}

@keyframes beat {

    0%,
    100% {
        transform: rotate(-45deg) scale(2);
    }

    50% {
        transform: rotate(-45deg) scale(1.08);
    }
}

/* Text */
.message {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Buttons */
.buttons {
    margin-top: 20px;
}

button {
    font-size: 24px;
    font-weight: 600;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: alias;
}

.yes {
    background: #ff8692;
    color: white;
}

.no {
    background: #ff8692;
    color: white;
}

/* Effects */
.fireworks,
.tears {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    animation: explode 1s forwards;
}

@keyframes explode {
    to {
        transform: translate(calc(-100px + 200px * var(--x)),
                calc(-100px + 200px * var(--y))) scale(3);
        opacity: 0;
    }
}

.tear {
    position: absolute;
    width: 10px;
    height: 10px;
    background: blue;
    border-radius: 50%;
    animation: fall 2s infinite;
}

@keyframes fall {
    to {
        transform: translateY(300px);
        opacity: 0;
    }
}